*.elc
*.orig
.cache/
.lsp-session*
.python-environments/
Makefile
amx-items
auto-save-list/
elpa/*
el-get/
elisp/slime
etc/
history
network-security.data
places
projectile-bookmarks.eld
recentf
transient/
undohist/
url/
