*.elc
*.orig
.cache/
.lsp-session*
.python-environments/
Makefile
amx-items
auto-save-list/
elpa/*
elisp/*
elisp/slime
network-security.data
projectile-bookmarks.eld
recentf
transient/
undohist/
url/
